$menu-color: #297FCA;
$text-color: #333;
$text-color-light: #808080;
$text-color-white: #fff;
$link-color: blue;
$color-required: #F44336;
$color-error: #F44336;
$color-disabled: #9E9E9E;

$color-green: #6ECB98;
$color-red: #F37476;

$row-height: 35px;

$background-light: #FBFBFB;
$background-dark: #F2F2F2;
$side-bar-item-height: 37px;
$side-bar-item-child-height: 29px;
$side-bar-item-height-with-divider: 36px;

$font-size: 12px;

$color-primary-green: #2DA6A6;
$color-secondary-green: #F5FCFC;

$color-primary-blue: #297FCA;
$color-secondary-blue: #F5F9FD;

$color-primary-red: #C2185B;
$color-secondary-red: #FFF7FA;

$layout-height: calc(100vh - 250px);
