<app-header></app-header>
<div class="spacerDiv"></div>

<div class="header-container" [formGroup]="form">

  <div></div>
  <div class="room">
      <mat-form-field>
          <input matInput formControlName="room" type="text" [matAutocomplete]="auto">
          <span matPrefix class="blueTint">Room:&nbsp;</span>
          <mat-error>{{getError('room')}}</mat-error>
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let r of filteredRooms" [value]="r.room">{{ r.room }}</mat-option>
      </mat-autocomplete>
  </div>
  <div></div>
  <div></div>
  <div>
    <button mat-raised-button class="search" (click)="search()" [disabled]="cantSearch">Search</button>
  </div>

</div>

    <div class="row">
        <div class="col-sm">  
            <app-table [data]="MtableRequest" [update]="update"></app-table>
        </div>
        <div class="col-sm">
            <app-table [data]="TtableRequest" [update]="update"></app-table>
        </div>
        <div class="col-sm">
                <app-table [data]="WtableRequest" [update]="update"></app-table>
        </div>
    </div>
    <div class="miniSpacerDiv"></div>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <app-table [data]="RtableRequest" [update]="update"></app-table>
        </div>
        <div class="col-sm-4">
                <app-table [data]="FtableRequest" [update]="update"></app-table>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="miniSpacerDiv"></div>

  <!-- <app-table [data]="MtableRequest" [update]="update"></app-table>
  <div class="miniSpacerDiv"></div>
  <app-table [data]="TtableRequest" [update]="update"></app-table>
  <div class="miniSpacerDiv"></div>
  <div class="miniSpacerDiv"></div>
  <app-table [data]="WtableRequest" [update]="update"></app-table>
  <div class="miniSpacerDiv"></div>
  <div class="miniSpacerDiv"></div>
  <app-table [data]="RtableRequest" [update]="update"></app-table>
  <div class="miniSpacerDiv"></div>
  <div class="miniSpacerDiv"></div>
  <app-table [data]="FtableRequest" [update]="update"></app-table>
  <div class="miniSpacerDiv"></div> -->


