img, span {
    cursor: pointer;
}

.cardContainer{
    width: 100%;
}

.right {
    float: right;
}

.searchDiv {
    height: 50px;
    width: 50px;
    text-align: center;
    border: #1870af solid 1px;
}

.logo {
    height: 50px;
    width: 50px;
    vertical-align: middle;
}

.title {
    font-size: 36px;
    padding-left: 12px;
    vertical-align: middle;
}


.searchDiv:hover {
    background-color: #F5F9FD !important;
}

.mobile {
    display: none;
}

@media(max-width: 600px) {
    .mobile {
        display: inline-block;
    }

    .desktop {
        display: none;
    }

    .searchContainer {
        display: grid;
        grid-template-columns: 20% 20% 20% 20%;
        grid-template-rows: 50% 50%;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
    
}