.container {
    justify-content: center;
    flex-direction: column;
}

.tableCard {
    margin: auto;
}

.refreshCard {
    background: white;
    width: 100%;
}

.refreshIcon {
    float: right;
    padding: 5px;
    cursor: pointer;
    font-size: 2em;
    color: #1870af;
    text-shadow:  -1px 2px #d8d6d6;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}

.header-blue > td {
  border-bottom: 2px solid #0077ca;
  color: #0077ca;
}

.row-blue:hover {
  background-color: #F5F9FD !important;
}

.row-click-blue {
  background-color: #F5F9FD !important;
}

.mat-row:hover {
  background-color: #FAFAFA;
}

.mat-card {
  padding: 0;
  max-height: 600px;
  overflow: auto;
}

.mat-table {
  width: 100%;
  background: white;
  table-layout: fixed;
  border-collapse: collapse;
  overflow-y: auto;
}

tr.mat-row {
  cursor: pointer;
  height: 50px;
}

tr.mat-header-row {
  height: 50px;
}

td {
  font-size: 14px;
  font-family: Verdana, sans-serif;
  color: black;
  padding: 0 2px;
}

td.mat-cell {
  border: none;
}

.mat-header-row > td {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  font-size: 14px;
}

.mat-header-row > td:first-of-type, .mat-row > td:first-of-type {
  padding-left: 12px;
}

.mat-header-row > td:last-of-type, .mat-row > td:last-of-type {
  padding-right: 12px;
}

.emptyMessage {
  text-align: center;
  margin-top: 50%;
  height: 100%;
}

.emptyMessage > span {
  font-size: 30px;
}

.refreshButton {
  float: right;
  border:none;
}

::ng-deep .mat-sort-header-container {
  justify-content: inherit !important;
}

/* By default, the mobile label shouldn't show */
.mobile-label {
  display: none;
}

@media(max-width: 600px) {
  /* Custom header label that shows in each column, with a set width and bold font */
  .mobile-label {
    width: 80px;
    display: inline-block;
    font-weight: bold;
  }

  /* Remove the header row altogether */
  .mat-header-row {
    display: none;
  }

  /* The row cells should display as a column, justified left, with a bit of extra padding */
  .mat-row { 
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }

  td.mat-cell {
    float: left;
    text-align: center;
    width: 100%;
  }
}